<!-- Navbar -->
<header>
	<!-- <h1 id="nav-title">
		<a href="/">THALASPA</a>
		<th:block data-th-if="${userSession != null}">
			<span data-th-text="'['+ ${userSession.Name}+']'"></span>
		</th:block>
	</h1>
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<ul class="container">
			<li class=><a href="/">Accueil</a></li>
			<li><a href="/cures">Soins</a></li>
			<li><a href="/cures/saveCure">Créer Soin</a></li>
			<th:block
					th:if="${userSession != null} and ${userSession.isAdmin}">
					<li><a href="/cure/create">Créer Soin</a></li>
			</th:block>
			<li data-th-if="${userSession == null}"><a href="/login">Connexion</a></li>
			<li data-th-if="${userSession != null}"><a href="/logout">Déconnexion</a></li>
		</ul>
	</nav> -->


	<nav class="uk-navbar-container" uk-navbar>
		
		<div class="uk-navbar-left">
		
			<ul class="uk-navbar-nav uk-margin-medium-left">
				
				<a href="/" class="uk-navbar-item uk-logo">THALASPA</a>
				<li class=><a href="/">Accueil</a></li>
				
				
				
				
				<th:block th:if="${userSession != null}">
					<li><a href="/cures/saveCure">Créer Soin</a></li>
					<li><a href="/cures">Soins</a></li>
					
				</th:block>
				<li data-th-if="${userSession == null}"><a href="/login">Connexion</a></li>
				<li data-th-if="${userSession != null}"><a href="/logout">Déconnexion</a></li>
				
				
			</ul>
			

		 	
		 	

		</div>
		<div class="uk-navbar-right">
			
			<th:block data-th-if="${userSession != null}">
			<div >
				<a uk-icon="icon: user"></a> 
					<span data-th-text=" ${userSession.firstName}"></span>
					 
			</div>
		<div>
		<a href=""> <img class="uk-navbar-right" alt="" src="/images/icons8-favorite-cart-30.png"> </a>
		</div>
		</th:block>
		
		</div>
	</nav>

</header>