<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Soin</title>

</head>
<body>

	<div th:replace="fragments/menu"></div>

	<main>
		<h1>Nos soins</h1>
		<table>
			<thead>
				<tr>
					<th></th>
					<th></th>
					
				</tr>
			</thead>
			<tbody>
				<tr data-th-each="current :${cures}">
					<td data-th-text="${}"> </td>
					<td data-th-text="${}"> </td>
					<td data-th-text="${}"> </td>
					<td data-th-text="${} + ' ' + ${}"> </td>
					
				</tr>
			</tbody>
		</table>
	</main>
</body>
</html>