<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- UIkit CSS -->


<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.15.20/dist/css/uikit.min.css" />

 

<!-- UIkit JS -->

<script src="https://cdn.jsdelivr.net/npm/uikit@3.15.20/dist/js/uikit.min.js" defer ></script>

<script src="https://cdn.jsdelivr.net/npm/uikit@3.15.20/dist/js/uikit-icons.min.js" defer></script>
<title>Thalaspa: Connexion</title>
</head>
<body>
<div th:replace="fragments/menu"></div>
<h2>Connexion</h2>

<form data-th-action="@{/login}" data-th-object="${user}" method="post">
<ul class = "flex-outer">
<li>
<input required type = "text" id ="inputEmail" data-th-field="*{email}" placeholder="Email*">
<input required type = "text" id ="inputPssw" data-th-field="*{password}" placeholder="Password*"></input>

<button type="submit">Connexion</button>

</ul>

</form>

<p>
<a href = "/registration">Pas encore inscrit ? Créer votre compte !</a>
<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
		integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
		crossorigin="anonymous"></script>

<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/uikit@3.15.20/dist/css/uikit.min.css" />

<!-- UIkit JS -->
<script
	src="https://cdn.jsdelivr.net/npm/uikit@3.15.20/dist/js/uikit.min.js"
	defer></script>
<script
	src="https://cdn.jsdelivr.net/npm/uikit@3.15.20/dist/js/uikit-icons.min.js"
	defer></script>
<title>LOGIN</title>
</head>
<body class="uk-container">
<div th:replace="fragments/menu"></div>
<hr>
<!-- <h1>CONNEXION</h1>

<form action="/login" method="post">
			<h1>Se connecter</h1>
			<ul class="flex-outer">
				<li><label for="inputLogin">Pseudo : </label> <input required
					type="text" id="inputLogin" name="email"></li>
				<li><label for="inputPwd">Mot de Passe : </label> <input
					required type="password" id="inputPwd" name="password"></li>
				<li>
					<button type="submit">Connecter</button>
				</li>
			</ul>
		</form> -->
		
		
		<div class="uk-section uk-section-muted uk-flex uk-flex-middle uk-animation-fade" uk-height-viewport>
	<div class="uk-width-1-1">
		<div class="uk-container">
			<div class="uk-grid-margin uk-grid uk-grid-stack" uk-grid>
				<div class="uk-width-1-1@m">
					<div class="uk-margin uk-width-large uk-margin-auto uk-card uk-card-default uk-card-body uk-box-shadow-large">
						<h3 class="uk-card-title uk-text-center">Welcome back!</h3>
						<form action="/login" method="post">
							<div class="uk-margin">
								<div class="uk-inline uk-width-1-1">
									<span class="uk-form-icon" uk-icon="icon: mail"></span>
									<input class="uk-input uk-form-large" type="text" name="email" required>
								</div>
							</div>
							<div class="uk-margin">
								<div class="uk-inline uk-width-1-1">
									<span class="uk-form-icon" uk-icon="icon: lock"></span>
									<input class="uk-input uk-form-large" type="password" name="password" required>	
								</div>
							</div>
							<div class="uk-margin">
								<button class="uk-button uk-button-primary uk-button-large uk-width-1-1">Connexion</button>
							</div>
							<div class="uk-text-small uk-text-center">
								Nouveau User? <a href="/registration">Créer un compte, c'est gratuit!</a>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

	<div th:replace="fragments/footer"></div>

</body>
</html>