<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- UIkit CSS -->
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/uikit@3.15.20/dist/css/uikit.min.css" />

<!-- UIkit JS -->
<script
	src="https://cdn.jsdelivr.net/npm/uikit@3.15.20/dist/js/uikit.min.js"
	defer></script>
<script
	src="https://cdn.jsdelivr.net/npm/uikit@3.15.20/dist/js/uikit-icons.min.js"
	defer></script>

</head>
<body class="uk-container">
	<h1>Panier</h1>
	<div th:replace="fragments/menu"></div>

	<main></main>
	<div th:replace="fragments/footer"></div>
</body>
</html>