<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous">

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
	integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
	crossorigin="anonymous">
<title>Soin</title>

</head>
<body>

	<div th:replace="fragments/menu"></div>

	<main>
		<h2 class="h2">Ajout d'un nouvel soin</h2>
		<div>
			<form method="post"
				data-th-action="@{/cures/saveCure}" data-th-object="${cure}">
				
				<div class="form-group">
				<label for="selectTypeCure">Type Soin : </label>
				<select>
					
							<option value="">--Type Soin--</option>
						    <option value="Hammman">Hammman</option>
						    <option value="Spa privatif">Spa privatif</option>
						    <option value="Massage duo">Massage duo</option>
						    <option value="Rituel japonais">Rituel japonais</option>
						    
				</select>
				<!-- Affichage des messages d'erreur par champs -->
					<!-- <div class="cards" data-th-if="${#fields.hasErrors('cureType')}">
						<span data-th-errors="*{cureType}"></span>
					</div>
					</div> -->
				
				
				<!-- <div class="form-group">
				<label for="selectTypeCure">Type Soin : </label>
				<select
						 required data-th-field="*{cureType}">
					<option data-th-each="current : ${typeCure}"
							data-th-text="'- ' + ${current.label}" data-th-value="${current.id}"></option>
							<option value="">--Please choose an option--</option>
						    <option value="dog">Dog</option>
						    <option value="cat">Cat</option>
						    <option value="hamster">Hamster</option>
						    <option value="parrot">Parrot</option>
						    <option value="spider">Spider</option>
						    <option value="goldfish">Goldfish</option>
				</select>
				Affichage des messages d'erreur par champs
					<div class="cards" data-th-if="${#fields.hasErrors('cureType')}">
						<span data-th-errors="*{cureType}"></span>
					</div>
					</div> -->
				<div class="form-group">
					<label for="cureNameInput">Nom</label> 
					<input
						type="text" data-th-field="*{cureName}" class="form-control"  placeholder="Saisir le nom soin"> 
				</div>
				<div class="form-group">
					<label for="cureDescription">Description</label> 
						<textarea type="text" data-th-field="*{cureDescription}" class="form-control"   >
						Description...
						</textarea>  
				</div>
				<div class="form-group">
					<label for="cureDuration">Durée</label> 
					<input
						type="text" data-th-field="*{cureDuration}" class="form-control"  placeholder="Saisir la durée">
						
				</div>
				<div class="form-group">
					<label for="curePrice">Prix</label> 
					<input
						type="text" data-th-field="*{curePrice}" class="form-control"  placeholder="Saisir le prix"> 
				</div>
				 <div class="form-group">
					<label for="cureImage">image</label> 
					<input
						type="text" th:field="*{cureImage}" class="form-control" 
						>
				</div> 
				
				<button type="submit" class="btn btn-primary">Créer</button>
			</form>
		</div>

	</div>
	</main>
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
		integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
		crossorigin="anonymous"></script>
</body>
</html>