<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- UIkit CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.15.20/dist/css/uikit.min.css" />

<!-- UIkit JS -->
<script src="https://cdn.jsdelivr.net/npm/uikit@3.15.20/dist/js/uikit.min.js" defer ></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.15.20/dist/js/uikit-icons.min.js" defer></script>
<title>Soin</title>

</head>
<body>
	
	<div th:replace="fragments/menu"></div>

	<main>


		<!-- <div class="card" style="width:18rem;" data-th-each="current :${cures}">
			<img th:src="@{${current.cureImage}}" class="card-img-top" alt="..." >
			<div class="card-body">
				<h5 class="card-title" data-th-field="${current.cureName}"></h5>
				<p class="card-text" data-th-field="${current.cureDescription}" ></p>
			</div>
			<ul class="list-group list-group-flush">
				<li class="list-group-item" data-th-text="${current.cureDuration}">An item</li>
				<li class="list-group-item" data-th-text="${current.curePrice}"></li>
				<li class="list-group-item">A third item</li>
			</ul>
			<div class="card-body">
				<a href="#" class="card-link">Card link</a> <a href="#"
					class="card-link">Another link</a>
			</div>
		</div> -->


<table>
			<thead>
				<tr>
					<th>Nom</th>
					<th>Description</th>
					<th>Duree</th>
					<th>Prix</th>
					<th>ville</th>
					
				</tr>
			</thead>
			<tbody>
				<tr data-th-each="current :${cures}">
					<td data-th-text="${current.cureName}"> </td>
					<td data-th-text="${current.cureDescription}"> </td>
					<td data-th-text="${current.cureDuration}"> </td>
					<td data-th-text="${current.curePrice} "> </td>
					<td th:src="@{${current.cureImage}}" > </td>
					
				</tr>
				
			</tbody>
		</table>

		<div
			class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin"
			uk-grid 
			data-th-each="current :${cures}">
			<div class="uk-card-media-left uk-cover-container">
				<img th:src="@{${current.cureImage}}" alt="" uk-cover>
				<canvas width="600" height="400"></canvas>
			</div>
			<div>
				<div class="uk-card-body">
					<h3 class="uk-card-title" data-th-text="${current.cureName}"></h3>
					<p data-th-text="${current.cureDescription}">.</p>
					<ul>
						<li data-th-text="${current.cureDuration}"></li>
						<li data-th-text="${current.curePrice} "></li>
					</ul>
				</div>
			</div>
		</div>

		


	</main>
	
</body>
</html>